<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" type="text/css"/>
    <link href="https://fonts.cdnfonts.com/css/seb-neue" rel="stylesheet">
    <title>Home</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
</head>

<body>
    <header>
        <h1>
            <br>
            Astronomer's Toolkit 
            <br>
            <div id="credit2">By Maxence Gilloteaux</div>
        </h1>
        <div id="credit">Photo Credit: Matt Hill © 2017 Hovenweep National Monument</div>
        <div id="credit">API credit to Geopy, SIMBAD and open-meteo</div>
    </header>

    <div id="main">

    <h2>{{ defweather["address"] }} <img src="../static/sunrise.png" id="inline"> {{ defweather["sunrise"] }}  <img src="../static/sunset.png" id="inline"> {{ defweather["sunset"] }}</h2>
    
    <table style="border: 5px solid lightgrey; border-collapse: collapse">
        <tr id="tr1">
            <th>Hours ahead:</th>
            <th>0</th>
            <th>+1</th>
            <th>+2</th>
            <th>+3</th>
            <th>+4</th>
        </tr>
        <tr>
            <td>Total Cloud Cover</td>
            <td>{{ defweather["cloud1"] }}</td>
            <td>{{ defweather["cloud2"] }}</td>
            <td>{{ defweather["cloud3"] }}</td>
            <td>{{ defweather["cloud4"] }}</td>
            <td>{{ defweather["cloud5"] }}</td>
        </tr>
        <tr>
            <td>Visibility</td>
            <td>{{ defweather["visibility1"] }}</td>
            <td>{{ defweather["visibility2"] }}</td>
            <td>{{ defweather["visibility3"] }}</td>
            <td>{{ defweather["visibility4"] }}</td>
            <td>{{ defweather["visibility5"] }}</td>
        </tr>
        <tr>
            <td>Precipitation chance</td>
            <td>{{ defweather["prec1"] }}</td>
            <td>{{ defweather["prec2"] }}</td>
            <td>{{ defweather["prec3"] }}</td>
            <td>{{ defweather["prec4"] }}</td>
            <td>{{ defweather["prec5"] }}</td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td>{{ defweather["humid1"] }}</td>
            <td>{{ defweather["humid2"] }}</td>
            <td>{{ defweather["humid3"] }}</td>
            <td>{{ defweather["humid4"] }}</td>
            <td>{{ defweather["humid5"] }}</td>
        </tr>
        <tr>
            <td>Wind speed</td>
            <td>{{ defweather["wind1"] }}</td>
            <td>{{ defweather["wind2"] }}</td>
            <td>{{ defweather["wind3"] }}</td>
            <td>{{ defweather["wind4"] }}</td>
            <td>{{ defweather["wind5"] }}</td>
        </tr>
    </table>

    <p> <form action="/" method="POST"> Your location: <input type="text" name="location" placeholder="location"> </form> </p>

    <br><br>

    <h2>Deep space astronomy catalog</h2> <p> <form action="/" method="POST"> Astronomy object lookup: <input type="text" name="astronomy" placeholder="object"> 
        (Try "Ring Nebula", "Andromeda Galaxy", "Pleiades", "Horsehead Nebula", "Eta Carina") </form> </p>

    <h3>{{ defastro["id"] }}, {{ defastro["name"] }} </h3>

    <img src=' {{ defastro["picture"] }} ' id="astroimg"> <p id="astro-desc" align="justify"></p>{{ defastro["wiki summary"] }}</p>
    
    
    <table id="table2"><tr id="tr1">
        <th>Distance</th>
        <th>Apparent magnitude</th>
        <th>Spectral type</th>
        <th>(possible) Wiki page</th>
    </tr>
    <tr>
        <td>{{ defastro["distance"] }}</td>
        <td>{{ defastro["apparent magnitude"] }}</td>
        <td>{{ defastro["spectral type"] }}</td>
        <td>{{ defastro["wikipedia"] }}</td>
    </tr>
    </table>



    </div>

    <script 
     type="text/javascript" 
     src="{{ url_for('static', filename='index.js')}}">
    </script>

</body>




</html>
